*~
NT/NT.go
CODE/CODE.go
CC/CC.go
LOG_LEVEL/LOG_LEVEL.go
VT/VT.go
MF/MF.go
OZW_Log.txt
ozwcp/darwin/OZW_Log.txt
ozwcp/darwin/README.ninja.html
ozwcp/darwin/openzwavetinyicon.png
ozwcp/darwin/zwcfg_0x0161d366.xml
ozwcp/darwin/zwscene.xml
zwcfg_*.xml
zwscene.xml
